<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="dao.properties"/>
    <environments default="local">
        <environment id="local">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.user}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/UserMapper.xml"/>
        <mapper resource="mappers/AirlineMapper.xml"/>
        <mapper resource="mappers/AirportMapper.xml"/>
        <mapper resource="mappers/BoardingGroupMapper.xml"/>
        <mapper resource="mappers/FlightMapper.xml"/>
        <mapper resource="mappers/BookingMapper.xml"/>
        <mapper resource="mappers/SeatMapper.xml"/>
        <mapper resource="mappers/PaymentMapper.xml"/>
        <mapper resource="mappers/LuggageMapper.xml"/>
        <mapper resource="mappers/PassengerMapper.xml"/>
        <mapper resource="mappers/PassengerSeatMapper.xml"/>
        <mapper resource="mappers/FlightPricingMapper.xml"/>
    </mappers>
</configuration>